/* search */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: calc(3.2vh + 40px);
    padding-bottom: var(--size-large);
    border-bottom: 1px solid var(--color-light-grey);
}

.back__btn {
    font-size: var(--font-regular);
    padding: 0  var(--size-large);
    color: var(--color-dark-grey);
}


.cancel__icon i:hover ,
.back__btn:hover,
.back__btn i:hover {
    cursor: pointer;
}

#search-bar > form {
    flex-basis: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar__input {
    width: 100%;
    font-size: var(--font-regular);
}

.search-bar__icon {
    font-size: var(--font-medium);
    color: var(--color-grey);
    padding-right: var(--size-large);
}

.search-bar__icon.inactive {
    display: none;
}

/* 검색 결과 페이지  */
/* list type */
.list__container {
    height: 100%;
}

.select__btn {
    color: white;
    background-color: black;
}

.list__sort-by {
    position: relative;
    text-align: right;
    padding: var(--size-regular);
    border-bottom: 1px solid var(--color-light-grey);
}

.sort-by__method {
    color: var(--color-black);
    margin-right: var(--size-small);
}

.sort-by__btn i:hover {
    cursor: pointer;
}

.sort-by__option {
    position: absolute;
    right: var(--size-regular);
    top: 2rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-grey);
    border-radius: var(--size-small);
    box-shadow: 2px 2px 4px var( --color-shadow);
}

.sort-by__option::before{
    content: '';
    width: var(--size-small);
    height: var(--size-small);
    background-color: var(--color-white);
    position: absolute;
    top: -0.25rem;
    right: 0.5rem;
    transform: rotate(45deg);
    border-top: 1px solid var(--color-light-grey);
    border-left: 1px solid var(--color-light-grey);
} 

.option__item {
    text-align: left;
    padding: var(--size-medium);
}

.option__item:nth-child(1){
    border-bottom: 1px solid var(--color-light-grey);
}

.option__description:hover {
    cursor: pointer;
}

.option__check-mark {
    margin-left: var(--size-small);
    font-size: var(--font-micro);
    color: var(--color-main);
}

/* center summary */
.center__list {
    height: 100%;
    overflow-y: scroll;
}

.center__list::-webkit-scrollbar {
    display:none;
}


.center__item {
    width: 100%;
    height: 10.5rem;
    padding: var(--size-large);
    border-top: 1px solid var(--color-light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list__container .center__item:first-child{
    border: none;
}

.list__container .center__item:last-child{
    border-bottom: 1px solid var(--color-light-grey);
}

.center__summary__main {
    flex-basis: 85%;
}


.center__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center__name {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.center__location {
    padding-top: var(--size-small);
}

.center__location,
.center__review {
    margin: var(--size-small) 0;
}

.center__distance,
.center__average,
.center__counts {
    color: var(--color-black);
}


.divider {
    height: var(--font-micro);
    width: 1px;
    margin: 0 var(--size-regular);
    background-color: var(--color-grey);
    display: inline-block;
    vertical-align: bottom;
    text-indent: -9999;
}

.center__item:hover {
    background-color: var(--color-hover-back);
}

.center__name:hover {
    cursor: pointer;
}

.center__summary__other {
    flex-basis: 15%;
}


/* Arrow button */
.arrow-up{
    position: fixed;
    right: var(--font-regular);
    bottom: calc(var(--font-regular) + var(--navbar-medium));
    color: var(--color-grey);
    font-size: var(--font-large);
    padding: 0;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: all var(--animation-duration) ease;
}

.arrow-up.visible{
    opacity :1;
    pointer-events: auto;
}

.arrow-up.visible i:hover{
    color: var(--color-main);
    cursor: pointer;
}

/* message */
.center__message {
    display: block;
    text-align: center;
    line-height: var(--font-large);
    padding: 5vh 0;
    margin: 0 auto;
}

.inactive {
    display: none;
}


@media screen and (min-height:768px) and (min-width: 768px) {
    .arrow-up{
        bottom: calc(var(--font-regular) + var(--navbar-large));
    }
}

@media screen and (max-height:568px), (max-width: 360px) {
    .header {
        padding-top: calc(3.2vh + 30px);
    }

    .center__item {
        padding: var(--size-medium);
    }



    .center__name {
        margin-bottom: var(--size-small);
    }

    .arrow-up {
        bottom: calc(var(--font-regular) + var(--navbar-small));
    }
}


/* 
pagination
.pagination {
    display: flex;
    justify-content: center;
    padding: var(--size-large) 0;
    border-top: 1px solid var(--color-light-grey);
}

.page-item {
    padding: 0 var(--size-medium);
}
.page-link:hover {
    cursor: pointer;
    color: var(--color-main);
}

.disabled {
    color: var(--color-grey);
}

.activate{
    color: var(--color-main);
} */
