@import  '../../../static/style/reset.css';
@import '../../../static/style/common.css';

/* -- 공통 -- */
/* header */
.header {
    padding: calc(3.2vh + 40px) 0 var(--size-large) var(--size-large);
    border-bottom: 1px solid var(--color-light-grey);
}

#mypage-anonymous {
    display: flex;
    align-items: center;
}

.btn__login {
    margin: var(--size-medium);
    padding: var(--size-regular);
    background-color: var(--color-main);
    border-radius: var(--size-small);
    color: var(--color-white);
}

/* main */
#mypage-main {
    width: 100%;
}

#mypage__records {
    border-bottom: 1px solid var(--color-light-grey);
}

.mypage__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mypage__item,
.mypage__logout,
.mypage__login {
    display: flex;
    justify-content: space-between;
    padding: 3.6vh var(--font-medium);
}

.mypage__item:hover {
    cursor: pointer;
    background-color: var(--color-hover-back);
}

.mypage__title:hover,
.btn__arrow i:hover,
.btn__arrow i:hover {
    cursor: pointer;
}

.mypage__title,
.btn__logout {
    font-size: var(--font-regular);
    font-weight: var(--weigth-regular);
    color: var(--color-black);
    padding: 0;
}

/* ------------------------------------------------- */
/* pop-up */
#pop-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-shadow);
}

.pop-up__window {
    position: absolute;
    padding: var(--font-large);
    border-radius: var(--size-small);
    background-color: var(--color-white);
    z-index: 100;
}

.pop-up__context {
    line-height: var(--font-medium);
}

.btn__container {
    margin-top: var(--font-large);
    display: flex;
    justify-content: flex-end;
}

.pop-up__btn {
    font-size: var(--font-small);
}

#pop-up.pop-up__hide {
    display: none;
}


/* --my-likes && my-reviews 공통--*/
#my-reviews,
#my-likes {
    display: flex;    
    align-items: center;
}

.back__btn {
    padding: 0;
    padding-right: var(--size-large);
}

.back__btn:hover,
.back__btn i:hover{
    cursor: pointer;
}

#my-reviews i,
#my-likes i {
    font-size: var(--font-regular);
    color: var(--color-dark-grey);
    text-align: center;
}

.my-reviews__list, 
.my-likes__list {
    height: calc(100% - 2rem);
    overflow-y: scroll;
}

.my-reviews__list::-webkit-scrollbar,
.my-likes__list::-webkit-scrollbar {
    display:none;
}

.my-reviews__item, 
.my-likes__item {
    width: 100%;
    padding: var(--size-large);
    border-top: 1px solid var(--color-light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.my-likes__item {
    height: 5.4rem;
}

.my-reviews__item {
    height: 7.2rem;
}

.my-reviews__item:first-child,
.my-likes__item:first-child{
    border: none;
}

.my-reviews__item:last-child,
.my-likes__item:last-child{
    border-bottom: 1px solid var(--color-light-grey);
}

.my-reviews__item:hover,
.my-likes__item:hover {
    background-color: var(--color-hover-back);
}

.my-reviews__title,
.my-likes__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-reviews__name,
.my-likes__name {
    font-size: var(--font-regular);
}

.my-reviews__name:hover,
.my-likes__name:hover {
    cursor: pointer;
}


/* --my likes-- */
.my-likes__bookmark {
    font-size: var(--font-regular);
    color: var(--color-dark-grey);
}

.my-likes__bookmark:hover,
.my-likes__bookmark i:hover {
    cursor: pointer;
}


.my-likes__location {
    padding-top: var(--size-small);
    margin: var(--size-small) 0;
}

/* --my-reviews-- */
.my-reviews__header {
    flex-basis: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-reviews__info span{
    font-size: var(--font-micro);
    padding: var(--size-small) 0;
}

.divider {
    height: var(--font-micro);
    width: 1px;
    margin: 0 var(--size-small);
    background-color: var(--color-grey);
    display: inline-block;
    vertical-align: bottom;
    text-indent: -9999;
}

.my-reviews__contents {
    font-size: var(--font-small);
}

.my-reviews__icon a{
    padding-left: var(--size-regular);
    font-size: var(--font-regular);
    color: var(--color-dark-grey);
}

.my-reviews__icon a:hover,
.my-reviews__icon i:hover {
    cursor: pointer;
}

/* -- Arrow button --*/
.arrow-up{
    position: fixed;
    right: var(--font-regular);
    bottom: calc(var(--font-regular) + 60px);
    color: var(--color-grey);
    font-size: var(--font-large);
    padding: 0;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: all var(--animation-duration) ease;
}

.arrow-up.visible{
    opacity :1;
    pointer-events: auto;
}

.arrow-up.visible i:hover{
    color: var(--color-main);
    cursor: pointer;
}

/* message */
.center__message {
    display: block;
    text-align: center;
    line-height: var(--font-large);
    padding: 5vh 0;
    margin: 0 auto;
}

@media screen and (min-height:768px) and (min-width: 768px) {
    .arrow-up{
        bottom: calc(var(--font-regular) + 84px);
    }
}

@media screen and (max-height:568px), (max-width: 360px) {
    .header {
        padding-top: calc(3.2vh + 30px);
    }
}

