@import "reset.css";
@import "common.css";

html {
    font-size: 14px;
}

/* container */
.container {
    height: 100vh;
    width: 100vw;
    max-width: 768px;
    min-height: 480px;
    margin: 0 auto;
    background-color: var(--color-white);
    transform: translateZ(0);
}

/* navbar */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    z-index: 99;
    box-shadow: 0 -1px 2px var(--color-shadow);
}

.navbar__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__menu__item {
    text-align: center;
    color: var(--color-grey);
    font-size: var(--font-micro);
    transition: all 200ms ease-in-out;
}

.navbar__menu__item.current {
    color: var(--color-main);
}

.navbar__menu__item i {
    display: block;
    font-size: var(--font-large);
    margin-bottom: var(--size-regular);
    cursor: pointer;
}

.navbar__menu__item:hover {
    color: var(--color-main);
}

/* media query */
@media only screen and (min-height: 768px) and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    
    .container {
        border-radius: 0;
    }

    .navbar {
        height: var(--navbar-large);
    }
}

@media screen and (max-height: 568px), (max-width: 360px) {
    html {
        font-size: 12px;
    }

    .navbar {
        height: var(--navbar-small);
    }
}
